<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.moe.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadHandleServlet</servlet-name>
        <servlet-class>com.moe.servlet.UploadHandleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadHandleServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>com.moe.servlet.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MusicServlet</servlet-name>
        <servlet-class>com.moe.servlet.MusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MusicServlet</servlet-name>
        <url-pattern>/Music</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.moe.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClassifyServlet</servlet-name>
        <servlet-class>com.moe.servlet.ClassifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassifyServlet</servlet-name>
        <url-pattern>/Classify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DiscussServlet</servlet-name>
        <servlet-class>com.moe.servlet.DiscussServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscussServlet</servlet-name>
        <url-pattern>/Discuss</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>com.moe.servlet.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>com.moe.servlet.ManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/Manage</url-pattern>
    </servlet-mapping>
</web-app>